<md-dialog class="full-dialog" aria-label="Example Board" ng-init="ctrl.init()">
  <form>
    <md-toolbar class="amber-red">
        <div class="md-toolbar-tools">
            <h2>Example Board</h2>
            <span flex></span>
            <md-button class="amber-red" ng-click="ctrl.cancel()">
                X
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            <div class="my-board">
                <div class="title-board amber-red">
                    <h2 class="text-board" to-html="ctrl.title"></h2>
                </div>
                <div class="content-board">
                    <div layout="column" class="text-board" to-html="ctrl.text">

                    </div>
                </div>
            </div>
        </md-content>
    </md-dialog-content>
  </form>
</md-dialog>
