<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>OK I'm Hmong</title>
        <base href="/">
        <link rel="shortcut icon" href="media/icon.ico">
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/angular-material.css"/>

        <script src="js/main.js"></script>
    </head>
    <body layout="column" class="index">
        <md-toolbar ng-controller="toolbarController as ctrl" layout="row" layout-align="none center">
            <md-button class="md-icon-button toolbar-menu-icon-button" title="Menu"
                    ng-click="ctrl.showMenu()" aria-label="Menu">
                <md-icon class="toolbar-menu-icon" md-svg-icon="action:ic_view_headline_24px"></md-icon>
            </md-button>
            <span flex></span>
        </md-toolbar>
        <md-sidenav class="md-sidenav-left" md-component-id="menu">
            ss
        </md-sidenav>
        <md-content flex layout="row" ui-view>

        </md-content>
    </body>
</html>
